<!DOCTYPE html>
<html>
<head>
	<title>Blogger</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class='ui fixed inverted menu'>
		<div class='ui container'>
			<div id='properpadding' class='header item left floated'><i class='paper plane icon'></i>Mr.BLogger</div>
			<a id='properpadding' href='/' class='item left'><i class="clipboard icon"></i>HOME</a>
			<a id='properpadding' href='/blogs/new' class='item ><i class='pencil alternate icon'></i>New Post</a>
			<a id='properpadding' href='/top_writers' class='item right '><i class="trophy icon"></i>Top Writers</a>
			<a id='properpadding' href='/contacts' class='item right floated '><i class="address book icon"></i>Contacts</a>
		</div>
	</div>