<% include partials/header %>
<div id='raj'>
</div>
<div id='inmiddle'>
	<h1 id='msgtext'>You have entered the wrong route.This route is unavailable!</h1>
	<br>
	<button class="ui primary loading button">Loading</button>
</div>

<% include partials/footer %>